---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less link and gradient background
// $head-primary: #7b4397 ;
// $head-secondary: #dc2430 ;
// $theme-primary: #fdcc52 ;
// $theme-secondary: #fdc539 ;
// $theme-dark: #222;

// $head-primary: #403075 ;
// $head-secondary: #2E4372 ;
// $theme-primary: #403075 ;
// $theme-secondary: #2E4372 ;
// $theme-dark: #222;

// $head-primary: #403075 ;
// $head-secondary: #26175B ;
// $theme-primary: #2E4372 ;
// $theme-secondary: #572A72 ;
// $theme-dark: #222;

// $head-primary: #403075 ;
// $head-secondary: #26175B ;
// $theme-primary: #AA8439 ;
// $theme-secondary: #AAA939 ;
// $theme-dark: #222;

// GOOD
// $head-primary: #403075 ;
// $head-secondary: #26175B ;
// $theme-primary: #4E618B ;
// $theme-secondary: #734A8B ;
// $theme-dark: #222;

$head-primary: #403075 ;
$head-secondary: #26175B ;
$theme-primary: #D0AD6A ;
$theme-secondary: #D0CF6A ;
$theme-dark: #222;

// $head-primary: #403075 ;
// $head-secondary: #26175B ;
// $theme-primary: #F6DBA8 ;
// $theme-secondary: #F6F5A8 ;
// $theme-dark: #222;

// $theme-primary: #403075 ;
// $theme-secondary: #2E4372 ;
// $theme-dark: #572A72;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
