
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Mit tanítunk?</h2>
                        <p class="text-muted">Ahhoz, hogy komplett megoldást nyújtsunk egy problémára, nem elég csak programozni tudni: diverz tudásra van szükség.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/techtabor/almasderes-1-2.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Problémakeresés</h3>
                                    <p class="text-muted">Hogyan talál egy vállakozó megoldandó problémát? Mitől lesz egy probléma <em>hasznos</em> a társadalomnak?</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Megoldás</h3>
                                    <p class="text-muted">Hogyan tervezzünk meg egy terméket, egy felhasználói felületet? Hogyan teszteljük felhasználókon?</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Technológiák</h3>
                                    <p class="text-muted">Mik a mai alapvető scripting nyelvek, mobil app keretrendszerek, webszerverek, verziókövető rendszerek? Hogyan tervezzünk egy nagyobb programot és szerverrendszert?</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Ipari szoftverfejlesztés</h3>
                                    <p class="text-muted">Mik az aktuális technikák kódstruktúra, kódstílus, tesztelés, és verziókövetés terén? Hogyan fejlesszünk kódot csapatban?</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Projektvezetés</h3>
                                    <p class="text-muted">Hogyan tervezünk el egy nagyobb projektet? Hogyan definiálunk egy Minimum Viable Productot? Hogyan menedzseljük a feladatokat?</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Gondolkodásmód</h3>
                                    <p class="text-muted">Mik azok a szemléletek, amik a sikeres megvalósításhoz kellenek? Hogyan fejleszthetjük a kritikus gondolkodást, léphetünk túl az általánosan elfogadott tényeken, és mondhatunk ellent az autoritásnak?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
