<section class="no-padding" id="organisers">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="/img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption portfolio-box-caption-always-present">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Szervezők
                            </div>
                            <div class="project-name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="/img/mentorok/ildi.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Czeller Ildi
                            </div>
                            <div class="project-name">
                                Mentor. Ildi matematikusként végzett az ELTE-n, jelenleg az Emarsysnál dolgozik Data Scientistként.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="/img/mentorok/geza.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Csenger Géza
                            </div>
                            <div class="project-name">
                                Mentor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="/img/mentorok/miki.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Danka Miki
                            </div>
                            <div class="project-name">
                                Táborvezető. Miki Londonban él, és a Szilícium-völgyi Palantirnál dolgozik Business Development, Product Engineering, és Hiring Manager pozíciókban.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="/img/mentorok/andris.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Eisenberger Andris
                            </div>
                            <div class="project-name">
                                Mentor. Andris a ??? magyar startup fejlesztője.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="/img/mentorok/peti.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Juhász Peti
                            </div>
                            <div class="project-name">
                                Peti A Gondolkodás Öröme Alapítvány vezetője, a MaMuT főszervezője, több matektábor vezetője, egyetemi és iskolai matektanár. Szoftvermérnöki tapasztalatát a SZTAKI-ban szerezte.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="/img/mentorok/laci.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nikházy Laci
                            </div>
                            <div class="project-name">
                                Mentor. Laci a Google müncheni irodájában kezdte programozói pályafutását, most pedig a Logiscool tanára és fejlesztője.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="/img/mentorok/bagoly.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Szűcs Gábor
                            </div>
                            <div class="project-name">
                                Táborvezető. Gábor A Gondolkodás Öröme Alapítvány szervezője és tanára. Szoftvermérnöki tapasztalatát a SZTAKI-ban szerezte.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
