<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A program célja</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Cél</h3>
                    <p class="text-muted">Mi abban hiszünk, hogy a technológia segítségével javíthatunk a környezetünkön. Azonban az ehhez tartozó szemléletet és ismereteket ma sehol sem tanítják. Mi ennek oktatását tűztük ki célul.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Projekt</h3>
                    <p class="text-muted">A diákok maguk keresnek egy a környezetüknek fontos problémát, és ők is tervezik meg a megoldást, felhasználói beszélgetések és mentori segítség alapján.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Megvalósítás</h3>
                    <p class="text-muted">Az év során két fős csapatokban építik meg a terméket. Eközben technológiákat, ipari szoftverjelesztési praktikákat, product design és project management elveket gyakorolnak.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Publikálás</h3>
                    <p class="text-muted">Az év végére közzéteszik a csapatok a termékeiket, majd prezentálják a technológiát és az elért hatást.</p>
                </div>
            </div>
        </div>
    </div>
</section>
