<section id="reports" class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Olvasd el beszámolóinkat</h2>
            <a href="http://agondolkodasorome.hu/2016/10/25/techtabor-beta-az-elso-alkalom/" target="_blank" class="btn btn-outline btn-xl page-scroll">Első alkalom, bemutató, áttekintés</a>
            <a href="http://agondolkodasorome.hu/2016/11/20/techtabor-2/" target="_blank" class="btn btn-outline btn-xl page-scroll">Második alkalom</a>
            <a href="http://agondolkodasorome.hu/2016/12/24/techtabor-3-alkalom/" target="_blank" class="btn btn-outline btn-xl page-scroll">Harmadik alkalom</a>
            <a href="http://agondolkodasorome.hu/2017/02/12/a-techtabor-vendege-hanak-david-vezeto-szoftverfejleszto/" target="_blank" class="btn btn-outline btn-xl page-scroll">Vendégünk: Hanák Dávid</a>
            <a href="http://agondolkodasorome.hu/2017/03/28/techtabor-6-alkalom-ezuttal-az-emarsysban/" target="_blank" class="btn btn-outline btn-xl page-scroll">6. alkalom - az Emarsysban</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
