<section id="reports" class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Olvasd el beszámolóinkat</h2>
            <a href="http://agondolkodasorome.hu/2016/10/25/techtabor-beta-az-elso-alkalom/" target="_blank" class="btn btn-outline btn-xl page-scroll">Első alkalom, bemutató</a>
            <a href="http://agondolkodasorome.hu/2016/11/20/techtabor-2/" target="_blank" class="btn btn-outline btn-xl page-scroll">Második alkalom</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
