<section class="support">
    <div class="support-content">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h2>Támogatás</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <p>A Techtábort <a href="http://agondolkodasorome.hu">A Gondolkodás Öröme Alapítvány</a> szervezi és finanszírozza. A diákoknak a részvétel díjtalan, a mentorok munkájukért pénzt nem kérnek. Éppen ezért örömmel fogadunk támogatást.</p>
                </div>
            </div>

            <a href="#contact" class="btn btn-outline btn-xl page-scroll">Támogatom</a>
            <a href="#contact" class="btn btn-outline btn-xl page-scroll">Partner lennék</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
